<div class="chat-container">
  <div class="chat-box">
    <div class="card">
      <div class="card-header">
        Messages
      </div>
      <div class="card-body">
        <div class="messages">
          <div *ngFor="let msg of messages" class="message">
            {{ msg }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <form >
          <div class="chat-send row">
            <div class="col-10">
              <input type="text" class="form-control" name="message" id="input-message" [(ngModel)]="newMsg">
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary" (click)="sendMessage()">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
