<div class="container-fluid card registration-container">
  <h3 class="text-center">Reset your password</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="infoMsg.length">
    <p *ngFor="let msg of infoMsg">{{msg}}</p>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input [(ngModel)]="initResetPassword.email" type="email" class="form-control" id="email" placeholder="name@example.com">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="requestResetPassword()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">Reset my password</em>
    </button>
  </div>
</div>
